- @events.each do |event|
    %p
        .event
            .name
                = event.name
            .description
                = event.description
            .start-date
                = event.start_date